<h1>New task</h1>

<form action="/tasks/new" method="get">

  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="name">

  <label for="description">Description: </label>
  <input type="text" name="task[description]" id="description">

  <select name="task[status]" id="status">
    <option value="false">pending</option>
    <option value="true">done</option>
  </select>

  <input type="submit" value="Create" class="btn btn-primary">

</form>
